{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="{% static 'img/soul.png' %}" />

<title>Soul</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="{% static 'styles/custom.css' %}" rel="stylesheet" />
