{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <link href="{% static 'styles/floating-labels.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include "navbar.html" %}

    <div class="center">
      <form action="/search" method="get">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">one bit soul</h1>
          <p>
            explore sentiment, popularity, and health of Reddit
          </p>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">/r/</span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="subreddit"
            name="subreddit"
          />
        </div>

        <button class="btn btn-lg btn-dark btn-block" type="submit">
          search
        </button>
      </form>
    </div>
  </body>
</html>
