{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{% static 'img/soul.png' %}" />

    <title>Soul</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'styles/floating-labels.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/custom.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include "navbar.html" %}

    <div class="center">
      <form action="/search" method="get">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">one bit soul</h1>
          <p>
            explore sentiment, popularity, and health of Reddit
          </p>
        </div>

        <div class="form-label-group">
          <input id="subreddit" name="subreddit" class="form-control" />
          <label>subreddit</label>
        </div>

        <button class="btn btn-lg btn-dark btn-block" type="submit">
          search
        </button>
      </form>
    </div>
  </body>
</html>
