{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>

  <body>
    {% include "navbar.html" %}

    <form action="/search" method="get">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">/r/</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="subreddit"
          value="{{subreddit}}"
          name="subreddit"
        />
        <button>search</button>
      </div>
    </form>
  </body>
</html>
